<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
  <!-- <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> -->  
  <!-- 여기있음 -->
  <mapper namespace="com.spring.mapper.DeptMapper"> 	
  	<select id="getDeptNameByDeptno" parameterType="_int" resultType="string">
<!--   	SELECT dname FROM DEPT Where deptno = #{deptno} -->
  	SELECT dname FROM DEPT Where deptno = #{deptno}
  	
  	<!-- <![CDATA[>]]> -->
  	
  	</select>
  
  
  	<select id="getDeptByDeptno" resultMap="getDeptByDeptnoResultMap"> 
  		SELECT deptno, dname, loc FROM DEPT WHERE deptno = #{deptno}
  	</select>
  	
  	<resultMap type="com.spring.dto.Dept" id="getDeptByDeptnoResultMap">
  		<result column="deptno" property="deptno" />
  		<result column="dname" property="dname" />
  		<result column="loc" property="loc" />
  	</resultMap>
  	
  	
  	
  	<select id="getDeptMap" resultMap="getDeptByDeptnoResultMap2">
  		SELECT deptno, dname, loc FROM DEPT WHERE deptno = #{deptno}
  	</select>
  	 <resultMap type="java.util.HashMap" id="getDeptByDeptnoResultMap2">
  		<result column="deptno" property="deptno2" />
  		<result column="dname" property="dname2" />
  		<result column="loc" property="loc2" />
  	</resultMap>
  	<!-- <select id="getDeptMap" resultType="hashMap">
  		SELECT deptno, dname, loc FROM DEPT WHERE deptno = #{deptno}
  	</select> -->
  	
  	
  	<select id="getAlldepts" resultType="com.spring.dto.Dept">
  	SELECT deptno, dname,loc FROM DEPT
  	</select>
  	
  	<select id="getAlldeptsMap" resultType="map">
  	SELECT deptno, dname,loc FROM DEPT
  	</select>
  	
  	<insert id="insertDept" parameterType="com.spring.dto.Dept">
  	INSERT INTO dept VALUES
  	<trim prefix="(" suffix=")">
  		#{deptno},#{dname},#{loc}
  	</trim>
  	<!-- (#{deptno},#{dname},#{loc}) -->
  	</insert>
  	
   <update id="updateDeptByDeptnoAndDname" parameterType="map">
        UPDATE dept SET loc =#{loc} WHERE deptno = #{deptno} AND dname = #{dname} 
     <!--   <if test="dname != null and dname != ''">
          dname = #{dname}
       </if> -->
     </update>
  	
 
  	<!-- choose도 사용가능 -->

  	
  	<delete id="deleteDeptByLoc" parameterType="com.spring.dto.Dept">
  	DELETE FROM DEPT WHERE loc = #{loc}
  	</delete>
  	
  	
  	<!-- 
  	<insert id="insertDepts" parameterType="List">
  	<foreach collection="">
  	INSERT INTO DEPT VALUES(#{deptno},#{dname},#{loc})
  	</foreach>
  	</insert> -->
  	
  </mapper>
  	
   